# Rohmaterial und Arbeitsdateien - gehoeren nicht auf die Website
The Makeing Of/
Videos aufbereitet/
Bevor - After/
To Do Vorschauen Liste/
Recent Work/

# Betriebssystem
Thumbs.db
desktop.ini
.DS_Store
